$backgroundClr:rgb(20, 20, 20);
$navBackClr:#1d1e22;
$greenBack:#414749;
$scrollColor:rgb(236,158,35);
h1,h2,h3,h4{
	font-family:Open Sans;
	color:rgb(236,158,35);
}
p{
	font-size: 20px;
}
html{
	text-size-adjust:100%;
	font-size: 2.5vh;
	scroll-behavior: smooth;
	::-webkit-scrollbar{
		width: 10px;
	}
	::-webkit-scrollbar-track{
		border: 1px solid #ffffff00;
		box-shadow: inset 0 0 15px #ffffff00;
	}
	::-webkit-scrollbar-thumb{
		background-color: #0D749F;
		border-radius: 20px;
	}
}
body{
    margin: 0;
    padding: 0;
	color: #ffffff;
    background-color: rgb(236, 236, 236);
	box-sizing: border-box;
	font-size: 2.5vh;
	font-weight: 300;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#container{
	width: 100%;
	height: fit-content;
	padding: 0;
	display: flex;
	flex-direction: column;
}
#banner1{
	display: flex;
	box-sizing: border-box;
	min-height:100vh;
	background-image: repeating-linear-gradient(40deg, #040607, #056e9b);
	background-size: cover;
	background-position: center;
	
	#intro{
		width: 50vw;
		padding:20px 20px 20px 5vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	#anime{
		width: 50vw;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right:5vw;
		#vid-frame{
			margin-top: 10vh;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 20vw;
			background-color: #f8f8f8;
			border: solid 5px black;
			border-radius: 15px;
			#thumb-vid{
				width:90% ;
				padding-left: 3%;
				img{
					margin: 2% 0 ;
					width: 100%;
					height: 373px;
				}
			}
			#vid{
				
				margin: 2% 0 2% 3%;
				width: 90%;
			}
			#buton{
				width: 10%;
				display: flex;
				justify-content: center;
				svg{
					width: 80%;
				}
			}
		}
	}
	H1{
		font-family:Open Sans;
		font-weight: 800;
		font-size: 9vh;
		margin-top: 10vh ;
		color: rgb(236,158,35);
		margin-bottom: 5vh;
	}
	.btn{
		margin-top: 5vh;
		text-decoration: none;
		color: azure;
		background-color: $scrollColor;
		border: none;
		border-radius: 0;
		transition: 0.2s;
		&:hover{
			background-color: rgb(202, 135, 28);
		}
	}
}

#sect2{
	position: relative;
	display: flex;
	width:90%;
	margin-left:5%;
	#slide{
		width:50%;
		overflow: hidden;
		box-sizing: border-box;
		min-height: 80vh;
		.swiper-container {
			width: 100%;
			height:100%;
		
		  }
		  .swiper-wrapper{
			display: flex;
			align-items: center;
		  }
		  .swiper-slide {
			background-position: center;
			background-size: cover;
			width: 70%;
			height: 60%;
			-webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
			box-shadow: 2px 10px 15px  rgba(0,0,0,0.5);
			-webkit-box-shadow:2px 10px 15px  rgba(0,0,0,0.5);
			-moz-box-shadow:2px 10px 15px  rgba(0,0,0,0.5);
		  }	
	}
	#why{
		display: flex;
		flex-direction: column;
		text-align: center;
		width:50%;
		min-height:80vh;
		margin-left:2% ;
		padding: 20px 20px;
		align-items: center;
		justify-content: center;
		h1{
			font-size: 50px;
		}
		p{
			color: #0a0a0a;
			font-size: 20px;
			font-weight: 400;
		}
	}
}
#winners {
	display: flex;
	width:90%;
	margin-left: 5%;
	margin-bottom: 25px;
	margin-top: 30px;
	overflow: hidden;
	//box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
  
}
.tl-item1{
	display:flex;
	width: 50%;
	transition: width 0.5s ease;
	
	&:hover {
		width: 60%;
		.tl-item:hover{
			width:60%;
		}
		.tl-item{
			width:40%;
		}
		.tl-item2{
			width: 40%;
		}
	}
}.tl-item2{
	display:flex;
	width: 50%;
	transition: width 0.5s ease;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	&:hover {
		width: 60%;
		.tl-item:hover{
			width:60%;
		}
		.tl-item{
			width:40%;
		}
		.tl-item1{
			width: 40%;
		}
	}
}
  .tl-item {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	position: relative;
	width: 50%;
	min-height: 600px;
	height:75vh ;
	color: #fff;
	overflow: hidden;
	transition: width 0.5s ease;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	
	&:before, &:after {
	  transform: translate3d(0, 0, 0);
	  -webkit-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  content: '';
	  position: absolute;
	  left: 0; top: 0;
	  width: 100%; height: 100%;
	}
  
	&:after {
	  background: rgba(0,0,0,0);
	  opacity: 1;
	  transition: opacity 0.5s ease;
	  -webkit-transition: opacity 0.5s ease;
	  -moz-transition: opacity 0.5s ease;
	}
  
	&:before {
	  //background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%);
	  z-index: 1;
	  opacity: 1;
	  transform: translate3d(0, 0, 0) translateY(50%);
	  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
	  -ms-transform: translate3d(0, 0, 0) translateY(50%);
	  transition: opacity 0.5s ease, transform 0.5s ease;
	  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
	  -moz-transition: opacity 0.5s ease, -ms-transform 0.5s ease;
	}
  
	&:hover {
	  //width: 66.66% !important; /**********************/
	  
	  &:after {
		opacity: 0;
	  }
  
	  &:before {
		opacity: 1;
		transform: translate3d(0, 0, 0) translateY(0);
		-webkit-transform: translate3d(0, 0, 0) translateY(0);
		-ms-transform: translate3d(0, 0, 0) translateY(0);
		transition: opacity 1s ease, transform 1s ease 0.25s;
		-webkit-transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
		-moz-transition: opacity 1s ease, -ms-transform 1s ease 0.25s;
	  }
  
	  .tl-bg {
		filter: grayscale(0);
	  }
	}
  }
  
  .tl-year {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	z-index: 1;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	
	p {
	  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
	  font-size: 1.728rem;
	  line-height: 0;
	  margin-block-start: 1em;
    margin-block-end: 1em;
	}
  }
  
  .tl-bg {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	background-size: cover;
	background-position: center center;
	transition: filter 0.5s ease;
	-webkit-transition: filter 0.5s ease;
	-moz-transition: filter 0.5s ease;
	filter: grayscale(0.5);
  }
#steps{
	display: flex;
	box-sizing: border-box;
	width:90%;
	overflow: hidden;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}
.topic{
	width: 100%;
	display: flex;
	justify-content: center;
	color: #ec9e23;
	font-size: 40px;
	font-weight:600;
	margin: 60px 0;
	text-align: center;
	text-transform: uppercase;
}
.steps3{
	width:50%;
	display: flex;
	box-sizing: border-box;
	
}
.step{
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	min-height:90vh;
	max-height: fit-content;
	width:33.33%;
	background-color: $greenBack;
	margin: 5px;
	overflow: hidden;
	//box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
	h1{
		font-size: 5vh;
		padding-bottom: 2vh;
		font-weight: 800;
	}
	h2{
		font-weight: 750;
		font-size: 3vh;
		padding-bottom: 1vh;
	}
	p{
		font-size: 16px;
	}
}
#things{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5px;
	text-align: center;
	p{
		font-size: 30px;
		color: #0D749F;
		font-weight: 400;
		transition: 500ms;
		span{
			color: #f7bb25;
			font-weight: 800;
		}	
		&:hover{
			font-size: 31px;
		}
	}
}
#thingsTopic{
	p{
		font-size: 40px;
	}
	p span.cursor {
		display: inline-block;
		background-color: #ccc;
		margin-left: 0.1rem;
		width: 3px;
		animation: blink 1s infinite;
	}
	cursor.typing {
		animation: none;
	}
	@keyframes blink {
		0%  { background-color: #ccc; }
		49% { background-color: #ccc; }
		50% { background-color: transparent; }
		99% { background-color: transparent; }
		100%  { background-color: #ccc; }
	}
}
.things3{
	width:50%;
	display: flex;
	flex-direction: column;
		
}
.thing{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	min-height: 30vh;
	background-color:$greenBack;
	margin: 4px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	//border-radius: 5px;
	//box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	.icn{
		img{
			height: 15vh;
			margin: 8px 15px;
		}
	}

	h1{
		font-size: 3vh;
		font-weight: 600;
		
	}
	h1::after{
		content: '';
		display: block;
		position:sticky;
		align-self: center;
		width:100px;
		height:2px;
		background-color:black;
	}
}
#rules{
	display: flex;
	justify-content: center;
	align-items: center;
	width:90%;
	margin: 20px 5%;
	height:10vh;
	font-size: 20px;
	
	a{
		text-decoration: none;
		background-color: rgb(236,158,35);
		padding: 15px;
		color: #0a0a0a;
		transition: 0.2s;
		&:hover{
			background-color: rgb(202, 135, 28);
			transform:scale(1.02);
		}
	}
	.icon{
		display: none;
		margin-left: 10px;
		width: 25px;
		height: 25px;
	}
	
}
#timeline{
	overflow: hidden;
	max-height:max-content;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 20px;
	//background-color: bisque;
}
#awards{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: flex;
}
.award{
	box-sizing: border-box;
	margin: 2px;
	margin-bottom: 20px;
	min-height: 50vh;
	width: 33.33%;
	height: auto;
	transition: 1s;
	.price{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
		h2{
			font-size: 50px;
		}
	}
	.price-img{
		display: flex;
		justify-content: center;
		width: 100%;
		img{
			width: 50%;
			
		}
	}
}

#award-1{
	h4,h2{
		color:rgb(230, 178, 75);
		font-weight: 700;
	}
	&:hover{
		text-shadow: 2px 2px 5px #fdbc62;
	}
}
#award-2{
	h4,h2{
		color:#7e7676;
		font-weight: 700;
	}
	&:hover{
		text-shadow: 2px 2px 5px #6b6b6b;
	}
}
#award-3{
	h4,h2{
		color:#f07625;
		font-weight: 700;
	}
	&:hover{
		text-shadow: 2px 2px 5px #f69c62;
	}
}
#cards{
	width:90%;
	margin-left: 5%;
	display:flex;
}
.cards2{
	width:50%;
	display: flex;
}
.card{
	width: 50%;
	height:30vh;
	background-color: chartreuse;
	margin: 2px;
}
#partners{
	width: 90%;
	margin: 0 auto;
	div{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 100%;
	}
	.partner{
		box-sizing: border-box;
		margin: 15px 3%;
		width: 22%;
		height: 100%;
		display: flex;
		flex-direction: column;
		//justify-content: center;
		align-items: center;
		text-align: center;
		justify-content: space-between;
		.spon-img{
			display: flex;
			align-items: center;
			min-height:15vw ;
			transition: 500ms;
			width: 100%;
		}
		img{
			width: 100%;
		}
		h4{
			margin-top: 10px;
			color:black;
			justify-self: flex-end;
			font-size: 1.2vw;
			font-weight: 700;
		}
	}
	.partner:hover{
		.spon-img{
			transform: scale(1.1);	
		}
	}
}
#aboutus{
	margin-top: 25px;;
	background-color:$navBackClr;
	display: flex;
	font-size: 18px;
	#about{
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		margin: 5px 5%;
		padding: 40px 0;
		min-height:63vh;
		width:45%;
		svg{
			width: 18px;
		}
		a{
			text-decoration: none;
			margin-bottom: 20px;
		}
	}
	#uok{
		display: flex;
		justify-content: center;
		margin-top: 40px;
		img{
			width: 40%;
		}

	}
	#crew{
		min-height:63vh;
		height: auto;
		width: 55%;
		padding-right:5%;
		display: flex;
		justify-content: center;
		align-items: center ;
		ul{
			list-style: none;
		}
		a{
			text-decoration: none;
		}
		.box{
			width: 15.8vw;
			min-height: 50vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			box-sizing: border-box;
			margin: 20px 0.5px;
			//border-radius: 10px;
			//box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
			.person{
				height:15.8vw;
				width: 15.8vw;
				//border-radius: 10px 10px 0 0;
			}
			.details{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				width:100%;
				padding: 15px;
				min-height: 14vw;
				h4{
					font-size: 1.5rem;
				}
				p{
					font-size: 1rem;
					margin-bottom: 0;
				}
				.links{
					display: flex;
					a{
						margin: 5px 10px;
						height: 20px;
						width: 20px;
						svg{
							max-width:20px;
							max-height: 20px;
							fill: #ffffff;
							transition: 500ms;
						}
						&:hover{
							svg{
								fill:#ec9e23
							}
						}
					}
				}
			}
		}
		.box:hover{
			box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
			transform-style: preserve-3d;
			transition: all ease 0.3s;
		}
	}
}
#social{
	z-index: 10;
	display: flex;
	flex-direction: row;
	position:fixed;
	right: 15px;
	bottom: 10px;
	
	.soc-img{
		margin: 8px 10px;
		height: 35px;
		width: 35px;
		border: solid 2px #ffffff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 500ms;
		svg{
			width: 15px;
			height: auto;
			transition: 500ms;
			fill: #ffffff;
		}
		&:hover{
			border-color: #ec9e23;
			transform: scale(1.15);
			svg{
				fill:#ec9e23;
			}
		}
	}
}
#footer{
	width: 100%;
	padding: 5px 8px;
	background-color: #000000;
	min-height: 12vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	p{
		margin-bottom: 0;
		font-size: 15px;
	}
}
@media  (max-width: 576px) {//mobile view
	#social{
		z-index: 1;
		position: relative;
		display: flex !important;
		flex-direction: row !important;
		opacity: 1 !important;
		margin-top:20px ;
		justify-content: center;	
		align-items: center;
		svg{
			fill: #ffffff;
		}	
		.soc-img{
			border: solid 2px #ffffff;
		}
	}
	#banner1{
		flex-direction: column;
		#intro{
			width: 90vw;
			margin-top: 5vh;
			margin-left: 5vw;
			text-align: center;
			align-items: center;
		}
		#anime{
			width: 90vw;
			margin-left:5vw;
			margin-bottom: 10vh;
			#vid-frame{
				#thumb-vid{
					img{
						height: 240px;
					}
				}
				#vid{
					iframe{
						height: 240px;
					}
				}
				#buton{
					width: 10%;
					display: flex;
					justify-content: center;
					svg{
						width: 80%;
					}
				}
			}
		}
	}
	#sect2{
		flex-direction: column;
		#slide{
			width:100%;
			height:50vh;
			/*background-color: #a5a5a5;
			border-radius: 10px;
			box-shadow: 2px 10px 12px rgba(0,0,0,0.5);*/
		}
		#why{
			width:100%;
			height: max-content;
		}
	}
	#steps{
		flex-direction: column;
	}
	.steps3{
		width: 100%;
		flex-direction: column;
	}
	.step{
		width: 100%;
		h1{
			font-size: 25px;
		}
		h2{
			font-size: 24px;
		}
		p{
			font-size: 20px;
		}
	}
	#things{
		flex-direction: column;
	}
	.things3{
		width:100%;			
	}
	#awards{
		flex-direction: column;
	}
	.award{
		width: 100%;
	}
	#cards{
		flex-direction: column;
	}
	.cards2{
		width: 100%;
		flex-direction: column;
	}
	.tl-item{
		min-height: 350px;
	}
	.tl-item1{
		&:hover {
			.tl-item:hover {
				width: 80% !important;
			  }
			.tl-item{
			  width:20% !important ;
			}
		  }
	}
	.tl-item2{
		&:hover {
			.tl-item:hover {
				width: 80% !important;
			  }
			.tl-item {
			  width: 20% !important ;
			}
		  }
	}
	#partners{
		div{
			flex-direction: column;
			align-items: center;
			.partner{
				width: 80%;
				margin-bottom: 25px;
				h4{
					font-size: 4vw !important;
				}
			}
		}
	}
	
  }
@media (max-width: 768px) {//tablet view
	#banner1{
		#thumb-vid{
			img{
				height: 240px;
			}
		}
		#vid{
			iframe{
				height: 240px;
			}
		}
	}
	.price-img{
		img{
			width: 50%;
			
		}
	}
	#cards{
		flex-direction: column;
	}
	.cards2{
		width:100%;
		display: flex;
	}
	.card{
		width: 100%;
	}
	.step{
		min-height:60vh ;
		p{
			font-size: 18px;
		}
	}
	#steps{
		flex-direction: column;
	}
	.steps3{
		width: 100%;
	}
	#winners {
		flex-direction: column;
	}
	.tl-item1{
		width:100%;
		&:hover {
			width: 100%;
			.tl-item2{
				width: 100%;
			}
			.tl-item:hover {
				width: 60% ;
			  }
			.tl-item {
			  width:40%;
			}
		  }
	}
	.tl-item2{
		width:100%;
		&:hover {
			width: 100%;
			.tl-item1{
				width: 100%;
			}
			.tl-item:hover {
				width: 60% ;
			  }
			.tl-item {
			  width: 40%;
			}
		  }
	}
	.thing{
		flex-direction: column;
		min-height: 45vh;
		justify-items: center;
		justify-content: center;
		.content{
			display: flex;
			flex-direction: column;
			align-items: center;
			p{
				text-align:center ;
			}
		}
	}
	.partner{
		h4{
			font-size: 1.5vw !important;
		}
	}
	#aboutus{
		flex-direction: column;
		#about{
			margin: 5px 5%;
			min-height:55vh;
			width:90%;
			#uok{
				img{
					width:30%;
				}
			}
		}
		#crew{
			min-height:70vh;
			width: 90%;
			padding-right:0;
			margin-left: 5%;
			.box{
				width: 300px;
				min-height: 50vh;
				margin: 5px 0px;
				.person{
					height:300px;
					width: 300px;
				}
				.details{
					width:300px;
				}
			}
		}
	}
}